* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    width: 100%;
}

nav {
    padding: 3vw 8vw;
    display: flex;
    justify-content: space-between;
    position: relative;

}

.nleft {
    display: flex;
    gap: 30px;
}

nav .center {
    position: absolute;

    top: 30%;
    left: 40%;
    transform: translate(50%, 50%);
    font-size: 14px;

}

nav a {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;

}

.hero {
    width: 100%;
    margin-top: 10vw;
    padding: 0vw 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.portrait {

    width: 10vw;
}

.portrait p {
    font-size: 12px;
    margin: 10px 0;
    opacity: .5;
    text-transform: capitalize;
}

.portrait .portraitimagewrapper {
    width: 100%;
    height: 15vw;
   
}

.portraitimagewrapper img {
    width: 100;
    height: 100%;
}

.centerportrait {

    width: 25vw;
    min-height: 35vw;
    position: relative;
}

.centerportrait img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.centerportrait .headings {
    position: absolute;
    top: -11%;
    left: -10%;


}

.centerportrait h1 {
    font-size: 4vw;
    font-weight: 400;
    letter-spacing: -0.3vw;
    line-height: 0.8;
}

.centerportrait p {

    width: 40%;
    font-size: 18px;
    letter-spacing: -1px;
    margin-top: 10px;
}

.visit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.circlev {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    border: 1px solid rgb(183, 176, 176);
}

.circlev i {
    color: rgb(183, 176, 176);
}

.visit h3 {
    color: rgb(183, 176, 176)
}

.motive {
    margin-top: 7vw;
    padding: 3vw 8vw;
    display: flex;
    justify-content: space-between;
}

.motive p {
    width: 80%;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.5vw;
    text-align: right;
    line-height: 2;
    margin-top: 4vw;
}

.motive span {
    display: inline-block;
    margin: 0 10px;
    border-radius: 100px;
    margin-bottom: -12px;
}

.spanone {
    width: 60px;
    height: 40px;
    background-image: url(Images/animal1.jpg);
    background-size: cover;
    background-position: center;
}

.spantwo {
    width: 80px;
    height: 40px;
    background-image: url(Images/animal2.jpg);
    background-size: cover;
    background-position: center;
}

.spanthree {
    width: 60px;
    height: 40px;
    background-image: url(Images/animal3.jpg);
    background-size: cover;
    background-position: center;
}

.pictures {
    padding: 3vw;
    padding-left: 14vw;
    padding-right: 12vw;
    display: flex;
    justify-content: space-between;
}

.leftpicture img {
    width: 17vw;
    height: 24vw;
    object-fit: cover;
    object-position: center;

}

.leftpicture h1 {
    padding: 1vw 0;
}

.leftpicture p {
    width: 16vw;
    opacity: .8;
}

.rightpicture img {
    width: 24vw;
    height: 36vw;
    object-fit: cover;
    object-position: center;



}

.text {
    display: flex;
    flex-direction: column;
  align-items: end;
}

.rightpicture h1 {
    padding: 1vw 0;
   

}

.rightpicture p {
    width: 20vw;
    text-align: right;
    opacity: .8;
}

.banner{
    width: 100%;
    margin-top: 8vw;
    display: flex;
    align-items: center;
}

.bimg{
   
    width: 65%;
    height: 60vh;
}

.bimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.btext{
    width: 35%;
    padding: 0 3vw;
}
.btext h1{
    font-size: 2.8vw;
    line-height: 1;
    font-weight: 400;
    letter-spacing: -.15vw;
}
.btext p{
    margin-top: 20px;
    width: 60%;
    font-size: 1vw;
}

footer{
    margin-top: 5vw;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

footer video{
    opacity: 0;
    margin-top: 10vw;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    
}

footer .ftext{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 99;
    background-color: #fff;
    padding: 1vw 2vw;
    gap: 10px;
    border-radius: 10px;
}

.ftext button{
    align-items: center;
    appearance: none;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: .375em;
    box-shadow: none;
    box-sizing: border-box;
    color: #363636;
    cursor: pointer;
    display: inline-flex;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    height: 2.5em;
    justify-content: center;
    line-height: 1.5;
    padding: calc(.5em - 1px) 1em;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
  }
